@font-face {
  font-family: "OrangeKid";
  src: local("OrangeKid"),
  url("./assets/orangekid.ttf") format("truetype");
  font-weight: normal;
}

body {
  font-size: 24px;
  margin: 0;
  background: #e5e5e5;
}

body, input, button, textarea {
  font-family: "OrangeKid", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


